In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
mt = pd.read_csv("BNG_hepatitis.csv")

In [3]:
mt.shape

(9999, 7)

In [4]:
mt.head()

         AGE  BILIRUBIN  ALK_PHOSPHATE       SGOT   ALBUMIN    PROTIME Class
0  32.059452   1.000000      48.365665  51.718598  4.182311  74.038508  LIVE
1  41.229532   1.146760      63.522251  29.216549  4.030845  25.462303  LIVE
2  62.133896   1.000000      44.055037  42.183894  4.865354  36.232554  LIVE
3  48.209988   0.669207     131.126032  50.817332  3.902101  42.755563   DIE
4  32.699629   1.000000     123.179908  20.318702  4.075779  42.079171  LIVE

In [5]:
X = mt.drop('Class', axis=1)
y = mt['Class']

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y, random_state=1)

In [7]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [8]:
y_pred = svclassifier.predict(X_test)

In [9]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[ 206  412]
 [ 105 2277]]
             precision    recall  f1-score   support

        DIE       0.66      0.33      0.44       618
       LIVE       0.85      0.96      0.90      2382

avg / total       0.81      0.83      0.80      3000

In [10]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8276666666666667